*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;
    /* background-color: black; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

body{
    overflow-x: hidden;
}


#page1{
    height: 100%;
    width: 100%;
    background-color: rgb(211, 79, 145);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2{
    height: 100%;
    width: 100%;
    background-color: lightgreen;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    padding: 5vw 0;
}


#page2 h1{
    font-size: 40vw;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    /* transform: translateX(-90%); */
}


#page3{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

/* h1{
    font-size: 60px;
    background-color: blueviolet;
}

h2{
    font-size: 55px;
    background-color: burlywood;
} */






#box{
    width: 200px;
    height: 200px;
    background-color: rgb(218, 30, 30);
}